.Container {
  padding: 0 calc(50% - 590px);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 1s ease;
  &:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 1s;
  }
  
  .NavLink{
    position: relative;
    font-size: 30px;
    color: #000;
    font-weight: 900;
    transition: all 1s ease;
    padding: 10px 15px;
    border-radius: 5px;
   
    
    &:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.8);
        transition: all 1s;
        
    }
  }
  .Image{
    transition: all 2s;
    
    &:hover{
        transform: scale(1.5) rotate(210deg);
        transition: all 2s;

    }
  }
}

