.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .About {
    padding-left: 3%;
    font-size: 70px;
    font-weight: 900;
    display: grid;
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 900px) {
  .Container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    .About {
      margin-top: 40px;
    }
  }
}
