.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .About {
    padding-left: 3%;
    font-size: 70px;
    font-weight: 900;
    display: grid;
    align-items: center;
   
  }
}
@media (max-width: 992px) {
  .Container {
  
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    .About {
      margin-top: 40px;
    }
  }
}

@media (max-width:576px) {
  .Container {
    margin-top: 0;
    margin-left: 3%;
    .About {
      font-size: 40px;
    }
  }
}
