.Container{
    padding-left: 3%;
    padding-bottom: 5%;
    .Title{
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 4%;
    }
    .Description{
        font-size: 30px;
        line-height: 33px;
    }
}